name: CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
         - name: Debug workspace
        run: |
          pwd
          ls -la
          ls -la tests || echo "tests directory missing"

      - name: Run tests
        run: |
          source .venv/bin/activate
          pytest -vv tests
